<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enable your location in order to use Dimple. It will be used to show potential matches near you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Enable your location in order to use Dimple. It will be used to show potential matches near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enable your location in order to use Dimple. It will be used to show potential matches near you.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
